<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
    <property name="connection.url">jdbc:mysql://localhost:3306/xq?useUnicode=true&amp;characterEncoding=UTF-8</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password">123456</property>
    <!-- 显示生成的SQL语句 -->
    <property name="hibernate.show_sql">true</property>

    <mapping class="com.syf.bean.Administer"/>
    <mapping class="com.syf.bean.Task"/>
    <mapping class="com.syf.bean.User"/>
    <mapping class="com.syf.bean.Address"/>
    <mapping class="com.syf.bean.Car"/>
    <mapping class="com.syf.bean.Box"/>

  </session-factory>
</hibernate-configuration>